extends layout

block content
	div.wrapper
		img.logo(src="images/logo.png")
		p Nothing here yet. Come back tomorrow or maybe June.
		p You can reach me 
			a(href='https://twitter.com/tiny_m')  @tiny_m
		p or on 
			a(href='https://github.com/mairead')  github