extends portfolio-layout

block content
	div.wrapper.homepage
		div.tesselation
			div.header
				a.logo(href="/") emdeebeebee.com
			nav.navigation
					ul
		
						li
							a.nav-link(href='#development') Development
						li
							a.nav-link(href='#design') Design
						li
							a.nav-link(href='#experimental') Experimental
			div.section.section-intro#intro

				h1 Welcome <span class="mobile-hidden">to emdeebeebee.com</span>

				img.profile(src="images/mairead.jpg")
				
				p.lead My name is Mairead and I am a creative web developer, based in London, specialising in exciting interactive experiences. I'm interested in any technology that pushes the boundaries of web development and am always looking for new ideas to harness what the internet can do for us.

				p 
					|I work as a full stack developer but I prefer Front End technologies. You can see some 
					|<a class="nav-link" href='#development'> recent examples of my work</a>

				p I am a designer as well as a developer. When I'm not making websites I like to make other things: Costume design, Set design, Game design and other toys. I also make a mean cocktail.

				p 
					|This year I started a project to try to improve the Front End development eco-system. You can read my articles about the 
					|<a href='/golden_path'>Golden Path Project</a>
					| and 
					|<a href='/golden_path_revisited'>Golden Path revisited</a>

				p <strong>If you would like to hire me I am currently available from the middle of September 2014. I am also available for speaking at conferences. </strong>

				p 
					|You can reach me 
					|<a href='https://twitter.com/tiny_m' target="_blank">  @tiny_m</a>

					|or on 
					|<a href='https://github.com/mairead' target="_blank">  github/mairead</a>
			div.section#development
				h2 Development

				div.portfolio-item
					a.portfolio-thumbnail-link(href="http://www.headlondon.com" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-head.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="http://www.headlondon.com" target="_blank") Head London
					p.portfolio-description Responsive adapative site for one of the leading top 100 digital agencies.

				div.portfolio-item
					a.portfolio-thumbnail-link(href="http://www.cam.ac.uk/" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-camuni.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="http://www.cam.ac.uk/" target="_blank") Cambridge University
					p.portfolio-description Responsive fluid templates created for Cambridge University to rebrand and move their web platforms to a forward facing structure

				div.portfolio-item
					a.portfolio-thumbnail-link(href="https://www.hihostels.com/" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-hi360.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="https://www.hihostels.com/" target="_blank") Hostelling International
					p.portfolio-description A 2 view responsive desktop/mobile layout for a Hostelling booking engine with an experiential travel marketing format

			div.section.section-design#design
				h2 Design
				div.portfolio-item
					a.portfolio-thumbnail-link(href="http://gentle-galaxy-6884.herokuapp.com/" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-golf.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="http://gentle-galaxy-6884.herokuapp.com/" target="_blank") Urban Golf
					p.portfolio-description Combining game design, graphic design and event planning. Urban Golf is a game I created for a birthday.
				div.portfolio-item
					a.portfolio-thumbnail-link(href="http://www.tea-on-the-lawn.com/invitation" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-tea.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="http://www.tea-on-the-lawn.com/invitation" target="_blank") Tea on the Lawn
					p.portfolio-description A site I created for my wedding with an Art Nouveau flavour
				div.portfolio-item
					a.portfolio-thumbnail-link(href="http://hackneybrewery.co.uk/" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-hackney.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="http://hackneybrewery.co.uk/" target="_blank") Hackney Brewery
					p.portfolio-description Site redesign for local brewing company. Updating their Wordpress theme into something more human

			div.section.section-experimental#experimental
				h2 Experimental
				div.portfolio-item
					a.portfolio-thumbnail-link(href="http://www.headlondon.com/our-thoughts/technology/posts/the-incredible-and-amazing-arduino-vote-o-matic" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-arduino.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="http://www.headlondon.com/our-thoughts/technology/posts/the-incredible-and-amazing-arduino-vote-o-matic" target="_blank") Arduino Vote-o-matic
					p.portfolio-description A light sensor triggered voting machine that sent a get request to an online counting mechanism
				div.portfolio-item
					a.portfolio-thumbnail-link(href="moving-handmesh.html" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-leap.png")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="moving-handmesh.html" target="_blank") Leap Motion 3D hand
					p.portfolio-description 
						|Experiments with the Leapmotion and LeapJs to provide gesture detection. You can see my
						|<a href='/index.html' target="_blank">LondonJS presentation slides</a>
						| on the topic
				div.portfolio-item
					a.portfolio-thumbnail-link(href="https://apps.facebook.com/cultureme/?fb_source=bookmark&ref=bookmarks&count=1&fb_bmpos=3_1" target="_blank") 
						img.portfolio-thumbnail(src="images/thumb-cultureme.jpg")
						span.portfolio-thumb-hover
					h3.portfolio-title 
						a(href="https://apps.facebook.com/cultureme/?fb_source=bookmark&ref=bookmarks&count=1&fb_bmpos=3_1" target="_blank") CultureMe Facebook App
					p.portfolio-description An R&D project created from a Culture Hack at Kings Institute to add cultural data to a Facebook feed based on your status updates