doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="shortcut icon", href="images/favicon.ico")
	body.portfolio
		block content
		div.footer
			p &copy; copyright emdeebeebee 2014
			img.spaceship(src="/images/spaceship.png")
		script(type='text/javascript' src="javascripts/jquery.js")
		script(type='text/javascript' src="javascripts/script.js")