doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.portfolio
		block content
		div.footer
			p &copy; copyright emdeebeebee 2014
			img.spaceship(src="/images/spaceship.png")