//homepage class added to wrapper to create portfolio structure

.homepage{
  text-align: left;
  width: 1039px;
}

.homepage .header{
  text-align: center; 
}

.homepage .section {
  clear: both;
  position: relative;
  border: 0;
  background: #fff;
  border-radius: 30px;
  margin: 0 0 50px 0;
  border: 2px solid $grey;
  padding: 20px 50px 50px 50px;
}

.homepage h1{
  font-size: 78px;
  line-height: 30px;
  margin-bottom: 65px;
  text-shadow: -2px -2px 0 $grey, 2px -2px 0 #424242, -2px 2px 0 #424242, 2px 2px 0 #424242;
}

.homepage h2{
  line-height: 20px;
  font-size: 70px;
  color: #F16A3B;
  font-family:'retro';
  margin-bottom: 70px;
  text-shadow: -2px -2px 0 #424242, 2px -2px 0 #424242, -2px 2px 0 #424242, 2px 2px 0 #424242;
}

.homepage h3{
  line-height: 40px;
  font-size: 40px;
  color: #F16A3B;
  font-family:'retro';
  margin-bottom: 10px;
}

.homepage  a:hover, .homepage  a:focus, .homepage  a:active{
  color: #92B72D;
  transition: all 0.5s;
}

.homepage .logo{
  padding: 20px 0 20px 0;
  display: inline-block;
  text-indent: -9999px;
  display: block;
  width: 898px;
  height: 256px;
  margin: 0 auto;
  background: url(../images/logo.png) no-repeat 0 0;
}

.profile{
  border: 2px solid #424242 ;
  float: right;
  margin: 0 0 20px 40px;
  border-radius: 30px;
}

.homepage .section-intro p{
  margin-right: 250px;
}

.homepage p{
  color: $grey;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.homepage .navigation{
  text-align: center;
}

.homepage .navigation ul, .homepage .navigation li{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.homepage .navigation ul{
  margin-left: -10px;
}

.homepage .navigation li{
  font-family: 'retro';
  font-size: 48px;
}

.homepage .navigation a{
  display: block; 
  padding: 20px 16px;
  text-transform: uppercase;
}
.homepage .navigation a:hover, .homepage .navigation a:focus, .homepage .navigation a:active{
  color: #fff;
  transition: all 0.5s;
}

@media (max-width: 1023px) {
  .homepage .logo{
    width: 668px;
    height: 190px;
    background-size: 668px 190px;
    padding-bottom: 0;
  }
  .homepage h1{
    font-size: 56px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .homepage .section {
    margin: 0 0 25px 0;
    padding: 10px 25px 50px 25px;
  }
  .homepage .lead{
    text-align: left;
  }

  .homepage .section-intro p{
    margin-right: 0;
  }
   .homepage .navigation ul{
    margin-left: -8px;
  }
}

@media (max-width: 767px) {
  .mobile-hidden{
    display: none;
  }
  .homepage .logo{
    width: 300px;
    height: 86px;
    background-size: 300px 86px;
    padding-bottom: 0;
  }
  .homepage h1{
    font-size: 75px;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .homepage h2{
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .homepage h3{
    margin-top: 10px;
    margin-bottom: 0;
  }

  .profile{
    float: none;
    margin: 0 0 10px 0;
    width: 250px;
    height: 250px;
  }

  .homepage .section {
    margin: 0 0 10px 0;
    padding: 20px;
    text-align: center;
  }
  .homepage .section-intro p{
    margin-right: 0;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
  }

  .homepage .navigation ul, .homepage .navigation li{
    display: block;
  }
  .homepage .navigation ul{
    margin-left: 0;
    padding-bottom: 10px;
  }
  .homepage .navigation a{
    padding: 5px 0;
  }


}


