//portfolio class added to body tag in separate layout file

.portfolio{
  margin: 0;
  padding: 0;
  background: $grey; /* Old browsers */
  background: -moz-linear-gradient(top,  $grey 2%, $white 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,$grey), color-stop(100%,$white)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $grey 2%,$white 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $grey 2%,$white 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $grey 2%,$white 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $grey 2%,$white 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey', endColorstr='$white',GradientType=0 ); /* IE6-9 */
}

.tesselation{
  padding: 20px 50px 50px;
  background: url(../images/tessellations.png) repeat 0 0 ;
}

.portfolio-item{
  min-height: 135px;
  padding-right: 200px;
  clear: both;
}

.portfolio-item p{
  margin-bottom: 0;
}

.portfolio-thumbnail{
  margin: 0 30px 20px 0;
  border: 2px solid $grey;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: $white;
}

.portfolio-thumbnail-link{
  display: block;
  float: left;
  position: relative;
}

.portfolio-thumb-hover{
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
  width: 154px;
  height: 154px;
  border-radius: 30px;
  background: $grey;
}

.portfolio-thumbnail-link:hover, .portfolio-thumbnail-link:focus{
  .portfolio-thumb-hover{
    opacity: 0.4;
  }
}

@media (max-width: 1023px) {
  .tesselation{
    padding-bottom: 100px;
  }

  .portfolio-item{
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .tesselation{
    padding: 10px 10px 200px 10px ;
  }

  .portfolio-item{
    text-align: center;
    padding-right: 0;
    min-height: auto;
    padding-bottom: 20px;
  }

  .portfolio-item p{
    margin-top: 5px;
  }
  .portfolio-thumbnail{
    float: none;
    margin: 0;
  }
  .portfolio-thumbnail-link{
    float: none;
    width: 150px;
    margin: 0 auto;
  }
}