//vars

$turquoise : #62c7cc;
$red : #F16A3B;
$green : #92B72D;
$grey : #424242;
$orange : #ff9d00;
$white : #ffffff;

@font-face {
  font-family: 'retro';
  src: url('../fonts/retro.eot');
  src: local('☺'), url('../fonts/retro.woff') format('woff'), url('../fonts/retro.ttf') format('truetype'), url('../fonts/retro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $grey; 
  color: $white;
  margin: 0px;
  padding: 0px;
}

a {
  color: $turquoise;
  font-weight: bold;
  text-decoration: none;
}
.demo-link a{
  color: $green;
}

.wrapper{
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}
.viewport canvas{
  width: 1024px;
}

h1{
  font-size: 120px;
  color: $red;
  font-family: 'retro';
  padding: 0;
  margin-bottom: 30px;
}

.lead{
  color: $turquoise;
  font-weight: bold;
  font-size: 40px;
}

@media (max-width: 1023px) {
  .lead{
    text-align: center;
  }
  .wrapper{
    width: 100%;
  }
}

@import 'partials/presentation';
@import 'partials/golden-path';
@import 'partials/portfolio';
@import 'partials/footer';
@import 'partials/homepage';




